Mathematical Operations

In [1]:
import numpy as np

In [2]:
#addition
np.add(45,20)

65

In [3]:
#subtraction
np.subtract(65,12)

53

In [4]:
#multiplication
#create an array which conatins number of hrs worked for 5 days
#hourly rate is 150 INR
np_dialy_wage=np.array([5,6,7,8,9,])*150

In [5]:
#print hourly wage for each day
print(np_dialy_wage)

[ 750  900 1050 1200 1350]

In [6]:
#total earnings after 5 Days
#use sum methos to add all data elements of that array
sum(np_dialy_wage)

5250

Comparision Operations

In [9]:
#create an array for weekly hrs, 5 consecutive weeks hrs data
np_weekly_hours= np.array([23,34,54,65,39])

In [11]:
#week with more that 40 hours
np_weekly_hours[np_weekly_hours>40]

array([54, 65])

In [12]:
#week with more not equal to 40 hours
np_weekly_hours[np_weekly_hours!=40]

array([23, 34, 54, 65, 39])

Logical Operations

In [13]:
#logical AND operation
np.logical_and(np_weekly_hours>20,np_weekly_hours<40)

array([ True,  True, False, False,  True])

In [14]:
#logical NOT operation
np.logical_not(np_weekly_hours>35)

array([ True,  True, False, False, False])

Indexing

In [17]:
cyclist=np.array([[12,13,14,46],[24,45,67,78]])

In [20]:
first = cyclist[0]

In [22]:
second = cyclist[1]

In [25]:
print(first)
print(second)

[12 13 14 46]
[24 45 67 78]

Particular Indexes

In [27]:
Index_test=cyclist[0][0]
Index_test

12

In [28]:
Index_test2=cyclist[:,0]
Index_test2

array([12, 24])

Slicing

In [29]:
#Slicing is a data wrangling technoque
cyclist.shape

(2, 4)

In [30]:
two_cyclist_data = cyclist[:,1:3]
two_cyclist_data
# ':' indicates slicing- which represents both the rows
# 1:3  where 1 is inclusive but 3 is not

array([[13, 14],
       [45, 67]])

iteration

In [31]:
#Iteration with for loop
for iterate_data in cyclist:
    print(iterate_data)

[12 13 14 46]
[24 45 67 78]

In [32]:
#Iteration with for loop through two_cyclist_data
for iterate_two_cyclist_data in two_cyclist_data:
    print(iterate_two_cyclist_data)

[13 14]
[45 67]

Indexing with Boolean Arrays

In [34]:
testscores = np.array([[85,65,75,46],[54,46,75,68]])

In [35]:
passing_score = testscores>60

In [37]:
passing_score

array([[ True,  True,  True, False],
       [False, False,  True,  True]])

In [38]:
#send passing score as an argument to 'testscores' object
testscores[passing_score]

array([85, 65, 75, 75, 68])